@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        font-family: 'Handjet', cursive;
        font-family: 'Mooli', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
    
    body {
        height: 100vh;
        text-align: center;
        background-color: #020322;
        background-image: url('../public/pxfuel.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
  }